.experiencia {
    min-height: 100%;
    height: 100%;
    width: 100%;
    font-size: 1.7rem;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 2rem 1rem;
}

.contenedor-experiencia {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}



.titulo-experiencia {
    font-size: 3rem;
    font-weight: 400;
}

.contenedor-proyecto {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    width: 100%;
    flex-wrap: wrap;
}

.productos{
    flex-basis: 30%;
    background: var(--second-bg-color);
    display: flex;
    padding: 2rem;
    border: .2rem solid var(--main-color);
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    
    
}

.productos a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productos:hover {
    background: var(--bg-color);
    transition: .5s;
    transform: scale(1.1);
    box-shadow: 10px 5px 5px rgb(14, 227, 11);
    opacity: .8 ;
}

.productos img {
    width: 90%;
    margin-bottom: 1.2em;
    border-radius: 0.5rem;
}

.productos a div h2 {
    text-align: center;
    color: var(--text-color);
}


@media (max-width: 1200px) {
    .productos {
        flex-basis: 40%;
    }

    .contenedor-proyecto {
        gap: 1rem;
    }
}

@media (max-width: 800px) {
    .experiencia {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .contenedor-proyecto {
        gap: 1rem;
    }
    
    .productos {
        flex-basis: 70%;
    }
}

@media (max-width: 550px) {
    .contenedor-proyecto {
        justify-content: center;
    }
    
    .productos {
        
        flex-basis: 70%;
    }
    .titul {
        font-size: 1.5rem;
    }
}
